@model IEnumerable<Forms.Models.User>

@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_yonetimtema.cshtml";
}
<style>
    table {
        table-layout: fixed;
    }

    td {
        overflow: hidden;
        text-overflow: Ellipsis;
        Word-wrap: break-Word;
    }
</style>

<p>
    <a class="btn btn-success" asp-action="NewUser">Yeni Kullanıcı Oluştur</a>
</p>
<h2>Kullanicilar</h2>

<table class="table">
    <thead>
        <tr>

            <th>
                Kullanıcı Adı
            </th>
            <th>
                Kullanıcı Soyadı
            </th>
            <th>
                E-posta
            </th>
            <th>
                İş Telefonu
            </th>
            <th>
                Cep Telefonu
            </th>
            <th>
                Ünvanı/Görevi
            </th>

            <th>
                Aktif
            </th>
            <th>
                Yetki
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserSurname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserMobilePhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserTask)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Authority)
                </td>
                <td>
                    <a class="btn btn-gradient-success"  asp-action="GetUser" asp-route-id="@item.UserId">Düzenle |</a>
                    <a class="btn btn-gradient-success" asp-action="DeleteUser" asp-route-id="@item.UserId" onclick="return confirm('Kullanıcı Silinsin mi?')">Sil |</a>
                </td>
            </tr>
        }
    </tbody>
</table>
